{% extends 'layout.html' %}

{% block body %}
      <!-- tm-top-container -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <!-- Site content -->
            <div class="tm-content">
              <!-- Section 0 Introduction -->
              <section class="tm-section tm-section-0">
                <h2 class="tm-section-title mb-3 font-weight-bold">
                  ABOUT
                </h2>
                <div class="tm-textbox tm-bg-dark">
                  <p>
                    Your crops always need an ideal environment for them to grow and bloom so that it can be helpful to the masses. Many farmers face diificulties to determine which crop they should opt in their conditions. Thats where We, Vapati, come in. We will guide you to make the utmost of your surroundings and bloom your crops to their maximum potential.
                  </p>
<!--                   <p class="mb-0">
                    Please tell your friends about Tooplate for free templates. This is 70% alpha background.
                  </p> -->
                </div>
                <!-- <a href="#" id="tm_about_link" data-linkid="1" class="tm-link">NEXT</a> -->
              </section>

              <!-- Section 1 About Me -->
              <section class="tm-section tm-section-1">
                <div class="tm-textbox tm-textbox-2 tm-bg-dark">
                  <h2 class="tm-text-blue mb-4">CROPS</h2>
                  <p class="mb-4">
                    This will recommend you regarding which crop to be cultivated in the available conditions.
                  </p>
                    <button type="button" class="btn btn-primary btn-lg"  onclick='window.location.href= "{{ url_for("crop_recommend") }}"'>Predict</button>
                </div>
              </section>
              


              <section class="tm-section tm-section-2">
                <div class="tm-textbox tm-textbox-2 tm-bg-dark">
                  <h2 class="tm-text-blue mb-4">FERTILIZER</h2>
                  <p class="mb-4">
                    This will recommend you regarding which fertilizer is best suited for the grown crops in the available conditions.
                  </p>
                    <button type="button" class="btn btn-primary btn-lg"  onclick='window.location.href= "{{ url_for("fertilizer_recommendation") }}"'>Predict</button>
                </div>
              </section>



              <section class="tm-section tm-section-4">
                <div class="tm-textbox tm-textbox-2 tm-bg-dark">
                  <h2 class="tm-text-blue mb-4">DISEASE</h2>
                  <p class="mb-4">
                    This will recommend you regarding which fertilizer is best suited for the grown crops in the available conditions.
                  </p>
                  <button type="button" class="btn btn-primary btn-lg" onclick="window.location.href='form3.html'">Predict</button>
                </div>
              </section>

              <!-- Section 3 Contact -->
              <section class="tm-section tm-section-3 tm-section-left">
                <form action="" class="tm-contact-form" method="post">
                  <div class="form-group mb-4">
                    <input
                      type="text"
                      id="contact_name"
                      name="contact_name"
                      class="form-control"
                      placeholder="Name"
                      required
                    />
                  </div>
                  <div class="form-group mb-4">
                    <input
                      type="email"
                      id="contact_email"
                      name="contact_email"
                      class="form-control"
                      placeholder="Email"
                      required
                    />
                  </div>
                  <div class="form-group mb-4">
                    <textarea
                      rows="4"
                      id="contact_message"
                      name="contact_message"
                      class="form-control"
                      placeholder="Message"
                      required
                    ></textarea>
                  </div>
                  <div class="form-group mb-0">
                    <button type="submit" class="btn tm-send-btn tm-fl-right">
                      Send
                    </button>
                  </div>
                </form>
              </section>
            </div>
          </div>
        </div>
      </div>



</html>
{% endblock %}